---
layout: default
---

{% include header.html %}

<!--
<div class="portfolio">
    <h1>Yeh, a busker at Canberra</h1>
    <ul>
        {% for websites in site.data.websites %}
        <li>
            <a href="{{ websites.url }}">{{ websites.url }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
-->

<div class="blog">
    <h1>Recent Posts:</h1>
    <ul>
        {% for post in site.posts limit:3 %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span>&nbsp;-&nbsp;<a style="text-transform:capitalize;" href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
        <li><a style="text-transform:capitalize;" href="/archive">Previous Posts</a></li>
	</ul>

</div>
<img src="assets/img/instruments.jpg"  style="max-width:100%;" />
