---
layout: default
---

{% include header.html %}

<div class="portfolio">
	<p>Hello, I’m Yeh, a busker at Canberra. Although I have merely a cheapest hand recorder (Zoom H1) and a laptop with low frequency CPU (1.60GHz), I think I can try something new by using these scant equipments as a minimalism enthusiast. Thus I set up this little website to share my pieces and my ideas, as well as my life.</p>
</div>

<div class="blog">
    <h1>Recent Posts:</h1>
    <ul>
        {% for post in site.posts limit:3 %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span>&nbsp;-&nbsp;<a style="text-transform:capitalize;" href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
        <li><a style="text-transform:capitalize;" href="/archive">Previous Posts</a></li>
	</ul>

</div>
